*{
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: aliceblue;
}

img {
    border-radius: 1rem;
}

nav ul, ul#social {
    margin: 0;
    padding: 0;
}

nav ul li, ul#social li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

.container {
    margin: 0 5rem;
}

header.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
}

nav ul {
    display: flex;
    align-items: center;
    gap: 3rem;
}

#top {
    display: flex;
    gap: 2rem;
    margin: 0 0 2rem 0;
}

#bottom {
    display: grid;
    grid-template-areas: 
        "Left Right"
        "Bottom Bottom";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 25rem 25rem;
    gap: 2rem;
    border-top: solid 1px lightblue;
    border-bottom: solid 1px lightblue;
    padding: 2rem 0;
}

#imgLeft {
    grid-area: Left;
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#imgRight {
    grid-area: Right;
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#imgBottom {
    grid-area: Bottom;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

footer{
    display: grid;
    grid-template-areas: 
        "Top Top"
        "Left Right";
    gap: 2rem;
    align-items: center;
}

#social {
    grid-area: Left;
    display: flex;
    gap: 0.5rem;
}

#copyright {
    grid-area: Right;
    text-align: right;
}

#siteMap {
    grid-area: Top;
    display: grid;
    grid-template-areas: 
        "Pages Services Misc"
        "a a1 a2"
        "b b1 b2"
        "c c1 c2";
    justify-content: space-between;
    gap: 0.5rem;
}

#siteMap h5 {
    font-size: 1.2rem;
}
